.sliderCont {
  z-index: 0;
  width: 500vw;
  height: 260vw;
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  margin: auto;
}

.cookie {
  width: 100%;
  height: 20em;
  object-fit: cover;
}
.card {
  height: 150px;
  width: 300px;
  top: auto;
  max-width: 320px;
  margin: auto 1 rem;
}

img {
  float: right;
  width: 200px;
  height: 300px;
  object-fit: contain;
}
