.contact-page {
  .text-zone {
    position: absolute;
    left: 15%;
    top: 90%;
    transform: translateY(-250%);
    width: 70%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    h1 {
      font-family: 'Coolvetica';
      letter-spacing: 2px;
      font-weight: 200;
      animation: pulse 1s;
      font-size: 30px;
    }
  }
}
