.main-header {
  position: relative;
  background: #e9c27d;
  width: 120px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);

  .logo {
    padding: 10px;
    display: block;
    height: unset;
    width: 100%;

    img {
      height: unset;
      width: 100%;
    }
  }

  nav {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 12.5px;

    .nav-link {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        font-size: 35px;
        color: #cb6e9a;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        font-family: 'Coolvetica';
        font-size: 25px;
        transition: all 0.1s;

        i {
          transition: all 0.3s ease-out;
        }

        svg {
          font-size: 35px;
        }

        .nav-link-a-text {
          display: none;
        }
      }

      a.active {
        color: #4fb9af;

        svg {
          color: #4fb9af;
        }
      }

      a:hover + .nav-link-text {
        opacity: 1;
      }

      .nav-link-text {
        position: absolute;
        top: 50%;
        left: calc(100% + 15px);
        translate: 0 -50%;
        padding: 5px 25px;
        min-width: 150px;
        text-decoration: none;
        font-family: 'Coolvetica';
        font-size: 25px;
        background: #e9c27d;
        color: #ffffff;
        border-radius: 5px;
        z-index: 5;
        pointer-events: none;
        -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: all 0.1s;
      }
    }
  }

  .main-header-nav-toggle {
    display: none;
    margin: 10px;
    position: relative;
    height: 50px;
    width: 40px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .main-header-nav-toggle > div {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 5px;
    width: 100%;
    background-color: #cb6e9a;
    border-radius: 3px;
    transition: all 0.2s;
  }

  .main-header-nav-toggle.active > div {
    background-color: #4fb9af;
  }

  .main-header-nav-toggle > div:nth-child(2) {
    translate: -50% -300%;
  }
  .main-header-nav-toggle > div:nth-child(1) {
    translate: -50% -50%;
  }
  .main-header-nav-toggle > div:nth-child(3) {
    translate: -50% 200%;
  }

  .main-header-nav-toggle.active > div:nth-child(2) {
    translate: -50% -50%;
    rotate: 45deg;
  }
  .main-header-nav-toggle.active > div:nth-child(1) {
    translate: -50% -50%;
    opacity: 0;
  }
  .main-header-nav-toggle.active > div:nth-child(3) {
    translate: -50% -50%;
    rotate: -45deg;
  }

  ul {
    padding: 10px;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 12.5px;

    li {
      a {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover svg {
          color: #4fb9af;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .main-header {
    height: 15vh;
    width: 100%;
    flex-direction: row;

    nav {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      background: #e9c27d;
      position: absolute;
      top: 100%;
      left: 0;
      translate: -100% 0;
      width: 100vw;
      z-index: 1;
      transition: all 0.2s;

      .nav-link {
        a {
          padding: 10px;
          width: 100%;

          .nav-link-a-text {
            display: block;
          }
        }

        a:hover {
          background: rgba(255, 255, 255, 0.5);
        }

        .nav-link-text {
          display: none;
        }
      }
    }

    nav.active {
      translate: none;
    }

    .main-header-nav-toggle {
      display: block;
    }

    ul {
      display: none;
    }

    .logo {
      display: block;
      height: 100% !important;
      width: unset !important;
    }

    img {
      height: 100% !important;
      width: unset !important;
      aspect-ratio: 1/1;
    }
  }
}
