html {
  font-size: 4pt;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'sans-serif';
  font-size: 3rem !important;
  color: #cb6e9a !important;
  background: #f4ecdc !important;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
